<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC2szOYOMd8lp0DEH93LH_8-1zBKOEiLDQ</string>
	<key>GCM_SENDER_ID</key>
	<string>861417135583</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.int.t0sh1f1n</string>
	<key>PROJECT_ID</key>
	<string>app272-512ce</string>
	<key>STORAGE_BUCKET</key>
	<string>app272-512ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:861417135583:ios:3be34bd287574dee7fb86a</string>
</dict>
</plist>